# Environment
NODE_ENV=development

# Service Configuration
GENERAL_SERVICE_HOST=localhost
GENERAL_SERVICE_PORT=3002

# Database Configuration
GENERAL_POSTGRES_URL=postgresql://username:password@localhost:5433/liquidar_general 